@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none; 
}

html, body {
    min-width: 100%;
    background-color: white;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
}

header > h1 {
    color: white;
    font-family: 'Passion one', sans-serif;
    text-align: center;
    font-variant: small-caps;
}

header > p {
    font-family: 'Sriracha', sans-serif;
    color: white;
    text-align: center;
}

header a, footer a {
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-family: 'Sriracha', sans-serif;
}

pre {
    font-family: 'Sriracha', sans-serif;
}

section.content-normal {
    background-color: white;
    color: black;
}


section.content-image {
    background-color: black;
    background-image: url('');
    color: white;
}

section.content-image > pre {
    background-color: #f50d0d57;
    width: 300px;
    padding-left: 10px;
   
}


footer {
    background-color: #303030;
    color: white;
    text-align: center;
    padding: 10px;
}

